In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
dataset=pd.read_csv("Dataset.csv")

In [23]:
dataset.head()

         Day      Date  CodedDay  Zone  Weather  Temperature  Traffic
0  Wednesday  01-06-18         3     2       35           17        2
1  Wednesday  01-06-18         3     3       36           16        3
2  Wednesday  01-06-18         3     4       27           25        5
3  Wednesday  01-06-18         3     5       23           23        3
4  Wednesday  01-06-18         3     6       18           42        2

In [24]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()

In [25]:
dataset['Date']= le.fit_transform(dataset['Date'])

In [26]:
dataset.tail(10)

         Day  Date  CodedDay  Zone  Weather  Temperature  Traffic
1429  Friday     9         5   135       18           25        4
1430  Friday     9         5   136       31            8        2
1431  Friday     9         5   137       13           11        4
1432  Friday     9         5   138       34           15        1
1433  Friday     9         5   139        5           43        4
1434  Friday     9         5   140       47           38        1
1435  Friday     9         5   141       15            8        4
1436  Friday     9         5   142       26           38        1
1437  Friday     9         5   143       16           34        3
1438  Friday     9         5   144       16           17        1

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          1439 non-null   object
 1   Date         1439 non-null   int32
 2   CodedDay     1439 non-null   int64
 3   Zone         1439 non-null   int64
 4   Weather      1439 non-null   int64
 5   Temperature  1439 non-null   int64
 6   Traffic      1439 non-null   int64
dtypes: int32(1), int64(5), object(1)
memory usage: 73.2+ KB

In [28]:
X = dataset.iloc[:, 2:6].values
y = dataset.iloc[:, 6:7].values

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [40]:
print(X_test)

[[  3  36  27  45]
 [  3  55   1  25]
 [  4 106  13  29]
 ...
 [  3  17  43  30]
 [  5 109   6  25]
 [  1  53   9  37]]

In [30]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 300, random_state = 0)
regressor.fit(X_train,y_train)

C:\Users\girid\AppData\Local\Temp\ipykernel_8684\1592691624.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=300, random_state=0)

In [31]:
y_pred = regressor.predict(X_test)

In [32]:
if(y_pred.all()<2.5):
    y_pred=np.round(y_pred-0.5)
else:
    y_pred=np.round(y_pred+0.5)

In [33]:
df1=(y_pred-y_test)/y_test
df1=round(df1.mean()*100,2)
print("Error = ",df1,"%") 
a=100-df1
print("Accuracy= ",a,"%")

Error =  12.01 %
Accuracy=  87.99 %

In [34]:
y_pred = regressor.predict(X_test)
y_pred

array([3.35333333, 3.59      , 3.19666667, 3.37666667, 2.54666667,
       2.22666667, 3.08666667, 2.75666667, 3.51      , 2.28      ,
       3.16      , 2.73      , 2.85333333, 3.08333333, 3.47333333,
       2.14333333, 1.9       , 2.88666667, 3.34666667, 3.38666667,
       3.17333333, 2.74666667, 2.69      , 2.61      , 2.15666667,
       3.08      , 2.21666667, 3.02      , 2.7       , 3.38333333,
       2.19666667, 3.22333333, 3.1       , 2.53333333, 3.09333333,
       2.58      , 3.22      , 4.19      , 2.93666667, 3.14      ,
       2.50333333, 3.75333333, 2.77666667, 3.91      , 3.39      ,
       3.19333333, 2.41      , 2.96666667, 2.25666667, 3.36666667,
       3.85666667, 3.80666667, 3.82      , 3.07333333, 3.03666667,
       2.83666667, 2.96333333, 3.24333333, 2.56666667, 2.46      ,
       3.30333333, 3.07      , 3.24333333, 1.84333333, 2.88666667,
       3.34333333, 2.55666667, 3.7       , 2.86      , 2.77333333,
       2.97666667, 2.95      , 2.80666667, 2.93      , 2.97666667,
       3.72      , 3.67333333, 2.42666667, 1.78333333, 3.52      ,
       2.89      , 3.08333333, 3.28      , 2.68333333, 3.14      ,
       3.36      , 2.90333333, 3.73666667, 3.48666667, 2.69666667,
       2.96      , 2.62333333, 2.73333333, 3.45333333, 2.66666667,
       2.47666667, 2.49333333, 3.21333333, 3.59      , 3.58666667,
       2.38      , 2.52      , 2.21333333, 2.15      , 3.42      ,
       2.66      , 3.30666667, 2.31666667, 3.06333333, 2.87333333,
       2.49666667, 2.87333333, 2.49666667, 2.54      , 3.79333333,
       2.77666667, 2.94333333, 3.15      , 3.15333333, 2.70666667,
       2.75333333, 3.44      , 2.80333333, 3.52      , 3.87666667,
       4.03      , 3.27333333, 3.58666667, 4.05      , 1.6       ,
       2.62333333, 3.08333333, 3.16666667, 2.07      , 3.40666667,
       3.09333333, 3.37      , 3.07      , 3.64666667, 3.24333333,
       3.37333333, 3.61      , 2.81666667, 3.32666667, 3.18333333,
       2.99      , 3.18666667, 2.76      , 2.69666667, 2.66      ,
       2.91      , 2.4       , 3.67333333, 2.7       , 3.4       ,
       2.94      , 3.52666667, 2.30666667, 3.43666667, 3.06      ,
       2.46666667, 2.5       , 3.35333333, 2.68      , 2.62666667,
       2.90666667, 2.93666667, 2.76333333, 2.85      , 3.00666667,
       2.77666667, 3.06      , 2.64      , 3.24      , 3.00666667,
       3.11333333, 2.84333333, 2.92333333, 2.85666667, 2.59333333,
       2.12      , 3.78333333, 2.95333333, 3.34666667, 2.64      ,
       3.59      , 3.8       , 2.83333333, 2.93333333, 3.03333333,
       2.05      , 2.46333333, 3.22333333, 2.39666667, 2.99      ,
       2.39666667, 2.93666667, 2.83      , 2.73333333, 3.85      ,
       2.70666667, 2.52      , 3.22666667, 3.04      , 3.08      ,
       3.15666667, 2.44      , 3.14333333, 3.49333333, 3.06333333,
       3.53      , 1.93      , 3.14333333, 2.97333333, 3.31      ,
       3.98      , 3.60666667, 3.13333333, 2.76333333, 3.55333333,
       3.38666667, 3.52666667, 2.78666667, 3.33333333, 3.23666667,
       2.59666667, 2.72666667, 3.25333333, 2.54      , 2.69333333,
       2.39333333, 3.71      , 3.04666667, 3.65333333, 3.17      ,
       2.28666667, 2.96      , 2.96666667, 2.35333333, 2.85      ,
       2.36      , 3.15666667, 3.63      , 3.45333333, 3.19333333,
       3.50333333, 2.65      , 2.44      , 3.04333333, 3.11      ,
       2.98333333, 2.41333333, 3.90666667, 2.86666667, 2.63333333,
       3.00333333, 2.74      , 3.50666667, 3.07      , 2.18666667,
       2.95      , 3.46666667, 3.48333333, 3.46      , 2.86666667,
       2.73666667, 2.40666667, 3.60333333, 3.48      , 2.96      ,
       3.49333333, 3.5       , 2.77      , 2.62666667, 3.29      ,
       2.19666667, 3.52333333, 2.72333333, 2.6       , 3.87      ,
       2.50333333, 3.13333333, 2.55333333, 2.65      , 2.70333333,
       3.16      , 2.78666667, 3.26666667])

In [35]:
if(y_pred.all()<2.5):
    y_pred=np.round(y_pred-0.5)
    
else:
    y_pred=np.round(y_pred+0.5)

y_pred

array([3., 3., 3., 3., 2., 2., 3., 2., 3., 2., 3., 2., 2., 3., 3., 2., 1.,
       2., 3., 3., 3., 2., 2., 2., 2., 3., 2., 3., 2., 3., 2., 3., 3., 2.,
       3., 2., 3., 4., 2., 3., 2., 3., 2., 3., 3., 3., 2., 2., 2., 3., 3.,
       3., 3., 3., 3., 2., 2., 3., 2., 2., 3., 3., 3., 1., 2., 3., 2., 3.,
       2., 2., 2., 2., 2., 2., 2., 3., 3., 2., 1., 3., 2., 3., 3., 2., 3.,
       3., 2., 3., 3., 2., 2., 2., 2., 3., 2., 2., 2., 3., 3., 3., 2., 2.,
       2., 2., 3., 2., 3., 2., 3., 2., 2., 2., 2., 2., 3., 2., 2., 3., 3.,
       2., 2., 3., 2., 3., 3., 4., 3., 3., 4., 1., 2., 3., 3., 2., 3., 3.,
       3., 3., 3., 3., 3., 3., 2., 3., 3., 2., 3., 2., 2., 2., 2., 2., 3.,
       2., 3., 2., 3., 2., 3., 3., 2., 2., 3., 2., 2., 2., 2., 2., 2., 3.,
       2., 3., 2., 3., 3., 3., 2., 2., 2., 2., 2., 3., 2., 3., 2., 3., 3.,
       2., 2., 3., 2., 2., 3., 2., 2., 2., 2., 2., 2., 3., 2., 2., 3., 3.,
       3., 3., 2., 3., 3., 3., 3., 1., 3., 2., 3., 3., 3., 3., 2., 3., 3.,
       3., 2., 3., 3., 2., 2., 3., 2., 2., 2., 3., 3., 3., 3., 2., 2., 2.,
       2., 2., 2., 3., 3., 3., 3., 3., 2., 2., 3., 3., 2., 2., 3., 2., 2.,
       3., 2., 3., 3., 2., 2., 3., 3., 3., 2., 2., 2., 3., 3., 2., 3., 3.,
       2., 2., 3., 2., 3., 2., 2., 3., 2., 3., 2., 2., 2., 3., 2., 3.])

In [36]:
df1=(y_pred-y_test)/y_test
df1=round(df1.mean()*100,2)
print("Error = ",df1,"%")

Error =  12.01 %

In [37]:
a=100-df1
print("Accuracy= ",a,"%")

Accuracy=  87.99 %

In [38]:
print("Error = ",df1,"%")
print("Accuracy= ",a,"%")

Error =  12.01 %
Accuracy=  87.99 %

In [39]:
import pickle
model=open('model.pkl','wb')
pickle.dump(regressor,model)
model.close()